.ContactsList {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  width: 100%;
}

.ContactListItem {
  position: relative;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  border: 2px solid rgb(46, 7, 241);
  border-radius: 4px;
  padding: 0 10px;
  width: 100%;
}

.ContactListItem:not(:last-of-type) {
  margin-bottom: 10px;
}
.ContactsList-button {
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: lightgray;
  border: 2px solid rgb(46, 7, 241);
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
}
.ContactsList-button:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.ContactsList-button:hover svg {
  fill: white;
}

/* //  Подсказка для удаления
.ContactListItem::before {
  content: 'Удалить контакт';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
} */

.ContactListItem:hover::before {
  opacity: 1;
  visibility: visible;
}
